.home {
    margin: 0;
    padding: 5px 0;
    background-color: #D19C75;
    border:  2px solid #D19C75;
    
}
.home h2 {
    text-align: center;
    margin-top: 5%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.home p {
    color: white;
    font-size: 20px;
    font-family: 'Kalam', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 3%;
   
}

@media (max-width: 540px) {
    .home h2{
        font-size: 15px;
        margin-top: 30%;

    }

    .home p {
        font-size: 15px;
    }
}

@media (max-width:1090px) {
    .home h2 {
        margin-top: 5%;
        font-size: 25px;
    }
}