* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
}
nav {
       display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 20px 12%;

}

.nav-links.show {
    display: block;
}
.Nav-brand {
    font-family: 'Kalam', sans-serif;
    font-weight: bold;
    color: #9E6236;
    font-size: 20px;
    text-align: center;
}

ul  {
    display: flex;

}

ul li {
    font-size: 1.1rem;
    margin: 0 30px;
    color: #D19C75;
}

ul li a{
    color: #D19C75;
}


.menu-icon {
    background-color: #D19C75;
    padding: 15px 15px;
    border-radius: 50%;
    color: white;
    display: none;
    cursor: pointer;
}

.ri-close-line {
    font-size: 1.5rem;
}

.icons i{
    color: #D19C75;
    font-size: 25px;
    
}

ul li .links {
    color: #D19C75;
}

button {
    background-color: #D19C75;
    border: 1px solid #D19C75;
    border-radius: 7px;
    font-size: 15px;
    padding: 10px 3%;
    color: white;
}



@media (max-width:768px) {
    .menu-icon {
        display: block;
    }
    /* .nav-links {
        display: none;

    } */

    .nav-links {
        display: block;
    
    }

    .nav-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .nav-links ul li {
        margin: 10px 10px;
        
    }

    .nav-links ul li a {
        color: #D19C75;
        text-decoration: none;
    }

    .nav-links {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 1000;
        
    }

    button {
        display: none;
    }
}


@media (max-width:1280px) {
    nav {
        padding: 14px 2%;
        transition: .2s;
    }
    ul li {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

/* @media (max-width:1090px) { */
    /* .menu-icon{
        display: flex;
    }

      .nav-links{
        position: absolute;
        top: 7%;
        right: 65%;
        width: 270px;
        height: 10vh;
        display: flex;
        background-color: white;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }  

   ul li {
    display: block;
    flex-direction: column;
    margin: 12px 0;
    padding: 0 25px;
    transition: all .50s ease;
   }

   

   } */

